.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background: #CB3B48;
    border: 1px solid #CB3B48;
    box-shadow: 0 0 15px #CB3B48;
    border-radius: 0 5px 5px 0;
}

textarea {
    background: #222220;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    width: 221px;
    height: 50px;
}

.top-search-menu {
    margin-bottom: 89px;
}

.top-search-menu button, .send-ord button{
    box-shadow: 0px 0px 14.9668px #CB3B48;
    padding: 16px 32px;
    text-transform: capitalize;
}

.send-ord button{
    padding: 16px 108px;
}

.send-ord {
    padding-bottom: 28px;
}

.top-search-menu p {
    font-size: 19.4537px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 49px;
    color: #FFFFFF;
    border-bottom: 1.5px solid #CB3B48;;
}

.top-search-menu span {
    color: #CB3B48;
    padding: 0 3px;
}

.x-but {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #CB3B48;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}

.transport h3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.transport {
    margin-bottom: 18px;
}

.your-order p {
    font-size: 20px;
    line-height: 23px;
    color: #CB3B48;
}

.your-order textarea {
    width: 195px;
    height: 34px;
    padding: 10px 15px;
}

.arrow-icon{
    width: 34.32px;
    height: 34.32px;
    margin-bottom: 21px;
}

.separete-bill input {
    background: #222220;
    border: 1px solid #B7B7B7;
    border-radius: 3px;
    margin-right: 3px;
}

.separete-bill p {
    display: flex;
    align-items: center;
    font-size: 13.7973px;
    line-height: 16px;
    color: #B7B7B7;
}