.personal-info h3 {
    margin-top: 25px;
    font-size: 36px;
    line-height: 42px;
}

.personal-info p {
    margin-top: 16px;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.55);
}

.personal-info a {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 24px;
}

.history {
    margin: 100px 0 35px;
}

.person-order {
    background: url("../images/bg-history.png");
    padding: 27px;
}

.person-order h3 {
    font-weight: normal;
    font-size: 22.7376px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.h3-h4 {
    margin-bottom: 25px;
}

.person-order h4 {
    font-weight: normal;
    font-size: 18.1901px;
    line-height: 21px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: flex-end;
    margin-left: 17px;
}

.meals h4{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.meals {
    margin-left: -15px;
}

.p-orders {
    grid-column-gap: 90px;
}

.amount h4 {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #767676;
    text-transform: lowercase;
}

.price h4 {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #CB3B48;
}

.white-p {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.red-p {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #CB3B48;
}

.more-but {
    margin-top: 22px;
    padding: 11px 43px;
}

.hist-ord-one {
    margin-bottom: 50px;
}

.shadow {
    box-shadow: 0px 0px 14.9668px #CB3B48;
    padding: 13px 34px;
}

.more-button {
    margin: 70px 0;
}